<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/admin-dashboard.css"/>
    <title>Admin-Dashboard</title>
</head>

<body>

<div id="wrapper">

    <div th:replace="fragments/admin-nav :: admin-nav"></div>


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>View your Applicant Demographics</h1>
            <p>We understand how important knowing your applicants is. A pleasant feature shown below is a list of compiled
            demographics based on applicant information. This information is based on user input and may not show every data type
                (ie. if there's an unusual input entered by the user), but it gives its viewer a general idea of the individual statistics.
            Simply click a button to display a Pie-Chart of the data.</p>
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">View Menu</a>
        </div>

        <div class="container-fluid">

            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <button onclick="drawChart('/graphEthnicity', ['Ethnicity', '#'])">Ethnicities</button>
                    </td>
                    <td>
                        <button onclick="drawChart('/graphCity', ['City', '#'])">City</button>
                    </td>
                    <td>
                        <button onclick="drawChart('/graphMarital', ['Marital Status', '#'])">Marital Status</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button onclick="drawChart('/graphDegree', ['Degree', '#'])">Degree Levels</button>
                        <!--TODO-->
                    </td>
                    <td>
                        <button onclick="drawChart('/graphGender', ['Gender', '#'])">Genders</button>
                        <!--TODO-->
                    </td>
                    <td>
                        <button onclick="drawChart('/graphFam', ['Family/Living Status', '#'])">Family/Living Status</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button onclick="drawChart('/graphDrug', ['Drug Test', '#'])">Drug Test?</button>
                    </td>
                    <td>
                        <button onclick="drawChart('/graphAid', ['Federal Aid', '#'])">Federal Aid Packages</button>
                    </td>
                    <td>
                        <button onclick="drawChart('/graphMilitaryService', ['Military Service', '#'])">Military Service</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button onclick="drawChart('/graphMilitarySpouse', ['Military Spouse', '#'])">Military Spouse</button>
                    </td>
                    <td>
                        <button onclick="drawChart('/graphReferral', ['Referral', '#'])">Referral</button>
                    </td>
                    <td>
                        <button onclick="drawChart('/graphCareerInterest', ['Career Interest', '#'])">Career Interests</button>
                        <!--TODO-->
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="container-fluid">
            <div>
                <div id="piechart" class=""></div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!--KEEP ALL PAGE CONTENT HERE-->


</div>


<footer th:replace="fragments/footer :: footer"></footer>
<!--</footer>-->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js}"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js}"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="/js/admin-dashboard.js"></script>
<script src="/js/dataVis.js"></script>

</body>
</html>