<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Admin Dashboard</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/css/admin-dashboard.css}"/>
	<link rel="stylesheet" th:href="@{/css/main-style.css}"/>
</head>
<body>
<nav id="menu" class="menu slideout-menu slideout-menu-left">
	<section class="menu-section">
		<h3 class="menu-section-title">Control Panel</h3>
		<ul class="menu-section-list">
			<li>
				<a th:href="@{/index}">
					<button>Home</button>
				</a>
			</li>
			<li>
				<a th:href="@{/admin/register}">
					<button>Create New Admin</button>
				</a>
			</li>
			<li>
				<a th:href="@{/admin/profile}">
					<button>Change Password</button>
				</a>
			</li>
			<li>
				<form th:action="@{/logout}" th:method="POST">
					<button>Logout</button>
				</form>
			</li>
		</ul>
	</section>
	<section class="menu-section">
		<h3 class="menu-section-title">Applications Received</h3>
		<ul class="menu-section-list">
			<li>
				<button id="pending" class="badge" onclick="req('/pending')"
				        data-badge="0">Pending
				</button>
			</li>
			<li>
				<button onclick="req('/complete')">Complete</button>
			</li>
			<li>
				<a href='#' onclick="req('/pending');">
					<button onclick="csvDownload('/pending')">
						Export Pending
					</button>
				</a>
			</li>
			<li>
				<a href='#' onclick="req('/complete')">
					<button onclick="csvDownload('/complete')">
						Export All
					</button>
				</a>
			</li>
		</ul>
	</section>
	<section class="menu-section">
		<h3 class="menu-section-title">Demographic Graphs</h3>
		<div class="menu-section-list dropdown">
			<button class="dropbtn">Choose Graph</button>
			<div class="dropdown-content">
				<a href="#" class="dropbtn" onclick="drawChart('/graphMarital', ['Marital Status', '#'])">
					Marital Status
				</a>
				<a href="#" class="dropbtn" onclick="drawChart('/graphGender', ['Gender', '#'])">Genders</a>
				<a href="#" class="dropbtn" onclick="drawChart('/graphDegree', ['Degree', '#'])">Degree
					Levels
				</a>
				<a href="#" class="dropbtn" onclick="drawChart('/graphFam', ['Family/Living Status', '#'])">
					Family/Living Status
				</a>
				<a href="#" class="dropbtn" onclick="drawChart('/graphDrug', ['Drug Test', '#'])">Drug Test?
				</a>
				<a href="#" class="dropbtn" onclick="drawChart('/graphAid', ['Federal Aid', '#'])">Federal Aid
					Packages
				</a>
				<a href="#" class="dropbtn"
				   onclick="drawChart('/graphMilitaryService', ['Military Service', '#'])">Military Service
				</a>
				<a href="#" class="dropbtn"
				   onclick="drawChart('/graphMilitarySpouse', ['Military Spouse', '#'])">Military Spouse
				</a>
				<a href="#" class="dropbtn" onclick="drawChart('/graphReferral', ['Referral', '#'])">Referral
				</a>
				<a href="#" class="dropbtn"
				   onclick="drawChart('/graphCareerInterest', ['Career Interest', '#'])">Career Interests
				</a>
				<a href="#" class="dropbtn" onclick="drawChart('/graphEthnicity', ['Ethnicity', '#'])">
					Ethnicities
				</a>
			</div>
		</div>
	</section>
</nav>
<main id="panel" class="panel slideout-panel slideout-panel-left">
	<button class="btn-hamburger toggle-button" onclick="showNotification()">☰</button>
	<div class="banner-img">
		<img class="banner-img" th:src="@{/images/quest.png}" alt="Quest Logo"/>
	</div>
	<div class="border-outer">
		<div class="border-inner">
		</div>
	</div>
	<div class="flex">
		<div id="divSec" class="container info-section">
			<h3 class="title">Admin Dashboard</h3>
			<p th:if="${success}"></p>
			<button class="close" onclick="minBtn">-</button>
			<div class="content">
				<p class="title">
					To the left are several tools to help you manage and process the information you store.
					Take a second to orient yourself to the great features provided.
					A pleasant feature shown below is a list of compiled demographics based on applicant information.
					This
					information is based on user input and may not show every data type, but it gives its
					viewer a general idea of the individual statistics. Check it out buy opening the menu and clicking
					on
					one of the drop down options in the demographic section.
				</p>
			</div>
		</div>
		<div id="divSec2" class="container application-section">
			<h3 class="form-header title">Applications</h3>
			<button class="close1" onclick="minBtn1">-</button>
			<div id="apps" class="content1">
				<h3 class="form-header title">
					To review an application, use the side navigation to make a selection.
				</h3>
			</div>
		</div>
		
		
		<div id="divSec3" class="container demographic-section">
			<h3 class="form-header title">Demographics</h3>
			<button class="close2" onclick="minBtn2">-</button>
			<div id="piechart"></div>
		</div>
	</div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{https://www.gstatic.com/charts/loader.js}"></script>
<script th:src="@{/js/dataVis.js}"></script>
<script th:src="@{/js/jsonReq.js}"></script>
<script th:src="@{/js/jsonToCSV.js}"></script>
<script th:src="@{/js/adminUI.js}"></script>
</body>
</html>