<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Admin Dashboard</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/css/admin-dashboard.css}"/>
</head>
<body>
<nav id="menu" class="menu slideout-menu slideout-menu-left">
	<section class="menu-section">
		<h3 class="menu-section-title">Admin Dashboard</h3>
		<ul class="menu-section-list">
			<li>
				<button class="" onclick="drawChart('/graphCity', ['City', '#'])">City</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphMarital', ['Marital Status', '#'])">Marital Status</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphDegree', ['Degree', '#'])">Degree Levels</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphGender', ['Gender', '#'])">Genders</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphFam', ['Family/Living Status', '#'])">Family/Living Status
				</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphDrug', ['Drug Test', '#'])">Drug Test?</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphAid', ['Federal Aid', '#'])">Federal Aid Packages</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphMilitaryService', ['Military Service', '#'])">Military
					Service
				</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphMilitarySpouse', ['Military Spouse', '#'])">Military Spouse
				</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphReferral', ['Referral', '#'])">Referral</button>
			</li>
			<li>
				<button class="" onclick="drawChart('/graphCareerInterest', ['Career Interest', '#'])">Career
					Interests
				</button>
			</li>
			
			<li>
				<button class="" onclick="drawChart('/graphEthnicity', ['Ethnicity', '#'])">Ethnicities</button>
			</li>
		</ul>
	</section>
</nav>
<main id="panel" class="panel slideout-panel slideout-panel-left">
	<header>
		<button class="toggle-button">☰</button>
		<h2>Panel</h2>
	</header>
	
	<img class="banner-img" th:src="@{/images/quest.png}" alt="Quest Logo"/>
	<div class="container demographic-section">
		<h3 class="title">View your Applicant Demographics</h3>
		<p class="banner-txt">
			Knowing your client is important. A pleasant feature shown below is a
			list of compiled demographics based on applicant information. This information is based on user input
			and may
			not show every data type (ie. if there's an unusual input entered by the user), but it gives its viewer
			a
			general idea of the individual statistics. Simply click a button to display a Pie-Chart of the data.
		</p>
		<div id="piechart"></div>
	</div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>