<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head('Profile')"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<main id="panel" class="panel slideout-panel slideout-panel-left">
	<button class="btn-hamburger toggle-button">☰</button>
	<div class="banner-img">
		<img class="banner-img" th:src="@{/images/quest.png}" alt="Quest Logo"/>
	</div>
	<div class="border-outer">
		<div class="border-inner">
		</div>
	</div>
	<div class="flex">
		<form id="msform" th:action="@{/profile/edit}" th:method="POST" th:object="${user}">
			<fieldset>
				<h2>Update Profile</h2>
				<div class="fb-text form-group field-username">
					<input type="text" class="form-control" th:value="${user.username}"
					       maxlength="45" title="Must start with a letter."
					       disabled="disabled"/>
				</div>
				<div class="fb-text form-group field-email">
					<input type="text" class="form-control" th:value="*{email}"
					       maxlength="45" title="Must start with a letter."
					       required="required" aria-required="true"/>
				</div>
				<div class="fb-text form-group field-password">
					<input type="password" placeholder="New Password"
					       class="form-control" th:field="*{password}"
					       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
					       minlength="8" title="Please include at least 1 uppercase character,
				       1 lowercase character, and 1 number."
					       required="required" aria-required="true"/>
				</div>
				<div class="fb-text form-group field-confirmpass">
					<input type="password" placeholder="Confirm Password"
					       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
					       minlength="8" class="form-control"
					       title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number."
					       required="required" aria-required="true"/>
				</div>
				<input type="submit" class="color-change" name="Submit" value="Submit"/>
			</fieldset>
		</form>
		<div class="app-btn">
			<h5>Have you applied yet?</h5>
			<a th:href="@{/app}">
				<button class="app-btn color-change" type="button">Begin an Application</button>
			</a>
		</div>
	</div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>