<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
</head>
<body>

    <div th:replace="fragments/user-nav :: user-nav"></div>

    <!--user info card begin-->
    <div class="card" style="width: 18rem;">
        <div class="card-body text-primary">
            <h5 class="card-title">Hello,
                <!--<span th:text="${firstName}"></span>-->
            </h5>
            <p class="card-text">Your profile information can be viewed below.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name:
                <!--<span th:text="${firstName}"> </span> <span th:text="${lastName}"></span>-->
            </li>
            <li class="list-group-item">Username:
                <!--<span th:text="${username}"></span> -->
            </li>
            <li class="list-group-item">Email:
                <!--<span th:text="${email}"></span> -->
            </li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Edit Info
            </button>
        </div>
    </div>
    <!--user info card end-->


    <!--Modal for editing profile begin-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"> Please change the information you'd like to update.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="user/edit" method="post" >
                        <!--th:object="${user}"  this line will go inside above form tag when able-->
                        <div class="form-group">
                            <label for="firstName" class="col-form-label">First Name:
                                <!--<span th:text="${firstName}"></span>-->
                            </label>
                            <input type="text" class="form-control" id="firstName" />
                            <!--th:field="*{firstName}" this line will go inside above input tag when able-->
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-form-label">Last Name:
                                <!--<span th:text="${lastName}"></span>-->
                            </label>
                            <input type="text" class="form-control" id="lastName" />
                            <!--th:field="*{lastName}"  this line will go inside above input tag when able-->
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-form-label">Username:
                                <!--<span th:text="${username}"></span>-->
                            </label>
                            <input type="text" class="form-control" id="username" />
                            <!--th:field="*{username}"  this line will go inside above input tag when able-->
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email:
                                <!--<span th:text="${email}"></span>-->
                            </label>
                            <input type="text" class="form-control" id="email"/>
                            <!-- th:field="*{email}"  this line will go inside above input tag when able-->
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:
                                <!--<span th:text="${password}"></span>-->
                            </label>
                            <input type="text" class="form-control" id="password" />
                            <!--th:field="*{password}"  this line will go inside above input tag when able-->
                        </div>
                        <div class="form-group">
                            <label for="passwordconfirm" class="col-form-label">Confirm Password:
                                <!--<span th:text="${password}"></span>-->
                            </label>
                            <input type="text" class="form-control" id="passwordconfirm" />
                            <!--th:field="*{password}"  this line will go inside above input tag when able-->
                        </div>

                        <!--<input type="hidden" id="id" name="id" th:field="*{id}" />-->
                        <!--<input type="hidden" id="nameOfUser" name="name" th:field="*{name}" />-->
                        <!--<input type="hidden" id="usernameUser" name="usernameUser" th:field="*{username}" />-->
                        <!--<input type="hidden" id="userEmail" name="userEmail" th:field="*{email}" />-->
                        <!--<input type="hidden" id="pass" name="pass" th:field="*{password}" />-->

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal for editing profile end-->

    <h5>Have you applied yet?</h5>
    <button onclick="location.href = '/app';" type="button" class="btn btn-outline-primary btn-lg">Begin an Application</button>


    <footer th:replace="fragments/footer :: footer"></footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>