<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<nav class="wrapper" th:fragment="admin-nav">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            
            <ul class="sidebar-nav">
                <li th:text="${#authentication.getPrincipal()}"></li>
                <li class="sidebar-brand">
                    <a href="#">
                        <img th:src="@{/images/quest.png}" alt="PQ Logo"/>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin}">Home</a>
                </li>
                <li>
                    <a th:href="@{/complete}">Completed Applications</a>
                </li>
                <li sec:authorize="isAuthenticated()" id="logout">
                    <a th:href="@{/logout}">Logout</a>
                </li>
                <li id="dev-li">
                    <img id="programmer" th:src="@{/images/programmer.svg}" alt="Picture of programmer"/>
                    <a th:href="@{/devTeam}">Meet our Dev Team</a>
                </li>
            </ul>
        </div>
</nav>

</body>
</html>