<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div class="wrapper" th:fragment="admin-nav">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <img id="project-quest-logo" src="/images/quest.png" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p id="hello-admin">Hello, ${User.getName()}</p>
                        <!--TODO set up user controller to get above value-->
                    </a>
                </li>
                <li>
                    <a href="/admin">Home</a>
                </li>
                <li>
                    <a href="/complete">Completed Applications</a>
                </li>
                <li sec:authorize="" id="logout">
                    <a href="/logout">Logout</a>
                </li>
                <li>
                    <a href="/devTeam">Meet our Dev Team</a>
                </li>
            </ul>
        </div>
</div>

</body>
</html>