<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head('One')">
</head>
<body>
<div class="app-container" th:fragment="one">
	<div class="app-section">
		<div class="fb-text form-group field-firstname">
			<label for="firstname" class="fb-text-label">
				What is your first and last name?
				<span class="tooltip-element" tooltip="Must start with a letter."></span>
			</label>
			<input type="text" placeholder="First Name"
			       class="form-control" name="firstname"
			       maxlength="45" id="firstname" title="Must start with a letter."
			       required="required" aria-required="true"/>
		</div>
		<div class="fb-text form-group field-lastname">
			<span class="tooltip-element" tooltip="Must start with a letter."></span>
			<input type="text" placeholder="Last Name"
			       class="form-control" name="lastname"
			       maxlength="45" id="lastname" title="Must start with a letter."
			       required="required" aria-required="true"/>
		</div>
		
		<div class="fb-text form-num field-app">
			<span class="tooltip-element" tooltip="Must be 9 digits.">What is your Social Security Number?</span>
			
			<input type="number" placeholder="123" class="ssn form-control" name="appssn"
			       maxlength="3" id="appssn" title="Must start with a letter."
			       required="required" aria-required="true"/>
			
			<input type="number" placeholder="45" class="ssn form-control" name="appssn"
			       maxlength="2" id="appssn-1" title="Must start with a letter."
			       required="required" aria-required="true"/>
			
			<input type="number" placeholder="6789" class="ssn form-control" name="appssn"
			       maxlength="4" id="appssn-2" title="Must start with a letter."
			       required="required" aria-required="true"/>
		</div>
		<button class="color-change" id="back" value="Back">Back</button>
		<button class="color-change" id="save" value="Save">Save</button>
		<button class="color-change" id="next" value="Next">Next</button>
	</div>
</div>
	<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>