<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head()">
</head>
<body>
<div th:fragment="two">
	<div class="fb-text form-group field-firstname">
		<label for="firstname" class="fb-text-label">
			What is your first and last name?
			<span class="tooltip-element" tooltip="Must start with a letter."></span>
		</label>
		<br>
		<input type="text" placeholder="First Name"
		       class="form-control" name="firstname"
		       maxlength="45" id="firstname" title="Must start with a letter."
		       required="required" aria-required="true">
	</div>
	<div class="fb-text form-group field-firstname">
		<span class="tooltip-element" tooltip="Must start with a letter."></span>
		<input type="text" placeholder="Last Name"
		       class="form-control" name="lastname"
		       maxlength="45" id="lastname" title="Must start with a letter."
		       required="required" aria-required="true">
	</div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>
</body>
</html>