<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div class="wrapper" th:fragment="user-nav">

    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3887e2;">
            <a class="navbar-brand" href="#">Your Profile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/user-app">My Application<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.questsa.org/contact-quest/" target="_blank">Contact Project Quest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                    <span class="navbar-text">
                        PQTCA
                    </span>
            </div>
        </nav>

    </div>

</div>

</body>
</html>