/**
    Color codes:
    Background Hex Value : #3887e2
    Main Color Hex Value : #e1e1e1
    Button Hex Value : #43c5f0
 **/

html, body {
    /* Fonts used throughout site*/
    font-family: 'Montserrat', sans-serif, 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    /**
        Sample of how to use css-grid for EXACTLY what we want
        Allows for easier mobile --> desktop configurations
    **/

    grid-template-areas: "header header header"
                         "aside nav nav"
                         "aside section section"
                         "main main main"
                         "footer footer footer";
    /**
        Height of parent container must be 100% or equivalent viewport units
    **/
    height: 100vh;
}


/**
    Sections temporarily color coded to provide
    better grasp of positioning before final design
**/
header {background-color: red; grid-area: header;}
nav {background-color: blue; grid-area: nav;}
main {background-color: green; grid-area: main;}
#piechart {background-color: teal; grid-area: section;}
aside {background-color: purple; grid-area: aside;}
footer {background-color: orange; grid-area: footer;}