/**
    Color codes:
    Background Hex Value : #3887e2
    Main Color Hex Value : #e1e1e1
    Button Hex Value : #43c5f0
 **/


/************************START******************************/
/***********************************************************/
/***************Parent Resets/General Styles****************/
/***********************************************************/
/***********************************************************/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #ffffff;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}

html,
body {
    font-family: 'Montserrat', sans-serif, 'Open Sans', sans-serif;
    margin: 0 auto;
    line-height: 1.6em;
    color: #222;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

a {
    box-sizing: unset;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

input {
    text-align: center;
    margin-bottom: 2em;
    width: 70vw;
    padding: 0.7em;
    border-radius: 7px;
    font-size: 1em;
}

select {
    text-align: center;
    text-align-last: center;
    font-size: 1.2em;
    margin-bottom: 2em;
    height: 5vh;
    font-weight: 300;
    width: 72vw;
}

legend {
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
}

label {
    color: #fff;
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
}

textarea {
    width: 60%;
    border-radius: 7px;
    height: 20vh;
    margin-bottom: 2em;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 2em auto;
    text-align: center;
    color: #fff;
}
/***********************************************************/
/***********************************************************/
/***************Parent Resets/General Styles****************/
/***********************************************************/
/*************************END*******************************/


/************************START******************************/
/***********************************************************/
/***************Helper Class Style**************************/
/***********************************************************/
/***********************************************************/
.rem {
    margin-bottom: 2em;
}

.form-header {
    margin-bottom: 2em;
    font-weight: 400;
}

.container {
    line-height: 1.6em;
    background-image: linear-gradient(0deg, #4a87dbc4, #5a6b88bd);
    border-radius: 4px;
    position: relative;
    color: #fff;
    font-size: 1em;
    margin: 4em auto;
    padding: 2em;
    text-align: center;
    width: 80vw;
}

.fields {
    background-image: linear-gradient(0deg, #4a87dbc4, #5a6b88bd);
    border-radius: 4px;
    height: auto;
    margin: 2em auto;
    padding: 1em;
    font-size: 0.8em;
    color: #fff;
    width: 80vw;
    position: relative;
}

.flex {
    align-content: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.form-flex {
    align-content: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: auto;
}

.banner-img {
    background-image: linear-gradient(0deg, #4a87db, #5a6b88);
    text-align: center;
    width: auto;
    max-height: 15vh;
    margin: auto;
}

.color-change {
    border: none;
    text-align: center;
    margin: 1em 0.6em;
    border-radius: 7px;
    width: 23vw;
    cursor: pointer;
    color: #fff;
    background-color: #4a87db;
    font-size: 1em;
    padding: 0.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    box-shadow: 2px 2px 3px #5a6b88;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.color-change:hover {
    color: #4a87db;
    background-color: #fff;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px 20px #ffffff;
}

input.color-change {
    -webkit-appearance: none;
    -moz-appearance: none;
}


.choices>input {
    width: 5vw;
}

.eChoices {
    display: inline-block;
    width: 15vw;
}

.inline {
    width: 5vw;
}

.error {
    color: red;
    margin: 2em auto;
}

.alert {
    color: #3aff1e;
    margin-bottom: 2em;
}

.app-btn {
    margin: 3em auto;
    text-align: center;
}

.app-btn.color-change {
    width: 30vw;
}

.app-btn h5 {
    color: #000000;
    width: 100%;
}

.close {
    width: 50px;
    height: 50px;
    background: transparent;
}

.form-header {
    margin-bottom: 2em;
}

/***********************************************************/
/***********************************************************/
/***************Helper Class Style**************************/
/***********************************************************/
/**************************END******************************/

/************************START******************************/
/***********************************************************/
/***************Progress Bar********************************/
/***********************************************************/
/***********************************************************/
#progressbar {
    text-align: center;
    margin-bottom: 2em;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    line-height: 1em;
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    width: 14%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #000;
    background: #54b4ff;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    color: #fff;
    height: 2px;
    background: #54b4ff;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #27AE60;
    color: #ffffff;
}
/***********************************************************/
/***********************************************************/
/***************Progress Bar********************************/
/***********************************************************/
/**************************END******************************/

/************************START******************************/
/***********************************************************/
/***************Main Application Form***********************/
/***********************************************************/
/***********************************************************/

#msform {
    margin: 3em auto;
    text-align: center;
    position: relative;
}

.fields:not(:first-of-type) {
    display: none;
}

.field-ethnicity {
    margin-right: 12vw;
    text-align: right;
}

.question-group {
    width: 100%;
}

input.eth {
    color: #ffff;
    margin-bottom: 0;
    margin-left: 1em;
    width: 20px;
    padding: 0;
}

.ethcheck label {
    display: inline-block;
    color: #fff;
}

.careercheck {
    display: block;
    flex-flow: column wrap;
    align-items: center;
}

.careercheck label {
    display: block;
    font-size: .9em;
}

.car {
    width: auto;
    margin-bottom: 1.2em;
}

.eChoices input {
    width: 5vw;
}

.last-sec h3 {
    margin: 2em auto;
}

.last-sec label {
    text-align: right;
    margin-right: 2em;
}

/***********************************************************/
/***********************************************************/
/***************Main Application Form***********************/
/***********************************************************/
/**************************END******************************/

/************************START******************************/
/***********************************************************/
/***************Navigation Styles***************************/
/***********************************************************/
/***********************************************************/

.panel {
    color: #607D8B;
    background: url(/images/saopac.png) center no-repeat fixed;
    background-color: #fff;
}

.panel:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease-in-out;
}

.panel-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
}

.menu {
    background: #4a87db linear-gradient(145deg, #4a87db, #5a6b88);
}

.menu button {
    color: white;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    width: 100%;
    background-color: #4a87db;
    background-image: linear-gradient(145deg, #4a87db, #5a6b88);
}

.menu button:hover {
    color: #4a87db;
    background: #fbfbff linear-gradient(145deg, #ffffff, #5a6b88);
}

.menu-section {
    margin: 25px 0;
}

.menu-section-title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 1.2em;
    margin: auto;
}

.menu-section-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.menu-section-list button {
    border: none;
    display: block;
    padding: 10px 20px;
}

.menu-section-list button:hover {
    background-color: rgba(255, 255, 255, 0.54);
    text-decoration: none;
}

/**
 * hamburger
 */
.btn-hamburger {
    color: white;
    font-size: x-large;
    margin: auto;
    border: none;
    position: absolute;
    top: 12px;
    left: 12px;
    outline: none;
    background: url('../images/menu.png') no-repeat left center;
}

/**
 * Slideout module styles
 */
.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

/* Animation
---------------------------------- */
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
}



/***********************************************************/
/***********************************************************/
/***************Navigation Styles***************************/
/***********************************************************/
/************************END********************************/

/************************START******************************/
/***********************************************************/
/***************Dev Team Specific Style*********************/
/***********************************************************/
/***********************************************************/


.headshots {
    width: 60vw;
    margin: 0 auto;
}

#meetdevheader {
    margin: 0;
}

.dev-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descriptions {
    margin: 0 auto;
    padding-bottom: .5em;
}

.names {
    font-size: 2em;
    padding-top: 1vh;
    margin-bottom: .7em;
}

.contactInfo {
    font-size: 0.8em;
}

.contactInfo img {
    width: 10vw;
    padding: 0 2em 0 2em;
}

/***********************************************************/
/***********************************************************/
/***************Dev Team Specific Style*********************/
/***********************************************************/
/**************************END******************************/


/************************START******************************/
/***********************************************************/
/*************************Media Queries*********************/
/***********************************************************/
/***********************************************************/
@media all and (min-width: 768px) {

    .careercheck {
        margin-right: 4em;
        text-align: right;
    }

    .careercheck>p {
        display: inline-block;
    }
    .field-career {
        grid-column-gap: 5%;
        display: grid;
        grid-template-columns: 47% 47%;
        text-align: right;
    }


    .btn-hamburger {
        top: 20px;
        left: 30px;
    }

    .panel-header {
        margin-top: 40px;
        width: 455px;
    }

    .fields {
        width: 45vw;
    }

    .inline {
        width: 5vw;
    }

    input[type="date" i] {
        font-family: 'Montserrat', sans-serif;
    }

    input.form-control {
        text-align: center;
        margin-bottom: 2em;
        width: 24vw;
        padding: 0.7em;
        border-radius: 7px;
        font-size: 0.8em;
    }

    input.form-control.inline {
        font-size: 1em;
        width: 5vw;
    }

    select {
        width: 26vw;
    }

    .color-change {
        width: 12vw;
        font-size: 1em;
    }

    .border-decor {
        position: relative;
        width: 50px;
        height: 25px;
        left: 50%;
        margin-left: -26px;
        margin-top: -1px;
        z-index: 25;
        margin-bottom: -25px;
        clear: both;
    }

    .border-outer {
        overflow: hidden;
        height: 80%;
        width: 100%;
        position: absolute;
    }

    .border-inner {
        background-image: linear-gradient(7deg, #4a87db, #27354c);
        position: absolute;
        left: 50%;
        width: 50px;
        height: 50px;
        -webkit-transform: translateX(-50%) rotate(45deg);
        transform: translateX(-50%) rotate(45deg);
        top: -39px;
    }

    button.app-btn.color-change {
        width: 30vw;
    }

    .contactInfo img {
        width: 10vw;
        padding: 0 2em 0 2em;
    }

}


@media only screen and (min-width: 801px) {
    .headshots {
        width: 60vw;
        margin: auto;
    }

    div.allie>.container {
        width: 85vw;
    }

    .dev-container > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .descriptions {
        width: 100%;
        margin: 0 auto;
    }

    .names {
        font-size: 2em;
        padding-top: 0.8em;

    }
    .contactInfo img {
        width: 5vw;
        padding: 0 2em 0 2em;
    }

    .fields {
        width: 50vw;
    }

    .container {
        width: 60vw;
    }

    select {
        text-align: center;
        text-align-last: center;
        font-size: 1.2em;
        margin-bottom: 2em;
        height: 5vh;
        font-weight: 300;
        width: 34vw;
    }

    input.form-control {
        font-size: 1em;
        width: 32vw;
    }

    input.form-control.inline {
        font-size: 1em;
        width: 5vw;
    }

    .question-title {
        font-weight: 400;
    }

    .eChoices>input {
        width: 3vw;
    }

    .inline {
        width: 5vw;
    }

    .color-change {
        width: 10vw;
        font-size: 1em;
    }

    button.app-btn.color-change {
        width: 15vw;
    }
}

@media only screen and (min-width: 1024px) {
    .headshots {
        width: 20vw;
        margin: auto;
    }

    .dev-container {
        display: flex;
    }

    div.allie.container {
        margin-top: 0;
        display: inline-block;
        width: 20vw;
    }

    div.thomas.container {
        margin-top: 0;
        display: inline-block;
        width: 20vw;
    }

    div.chris.container {
        margin-top: 0;
        display: inline-block;
        width: 20vw;
    }

    .contactInfo img {
        width: 3vw;
        padding: 0 2em 0 2em;
    }

    .field-ethnicity {
        margin-right: 15vw;
    }

    .container.field-career {
        width: 80vw;
    }

    .eChoices {
        width: 10vw;
    }

    .inline {
        width: 5vw;
    }
}


/***********************************************************/
/***********************************************************/
/*******************Media Queries***************************/
/***********************************************************/
/************************END********************************/
