<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head :: head('PQ App')"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<main id="panel" class="panel slideout-panel slideout-panel-left">
	<button class="btn-hamburger toggle-button">☰</button>
	<div class="banner-img">
		<img class="banner-img" th:src="@{/images/quest.png}" alt="Quest Logo"/>
	</div>
	<div class="border-outer">
		<div class="border-inner">
		</div>
	</div>
	<div th:if="${errors}"></div>
	<div class="flex">
		<form id="msform" th:action="@{/app}" th:method="POST" th:object="${app}">
			<!-- progressbar -->
			<ul id="progressbar">
				<li class="active">Personal Info</li>
				<li></li>
				<li>Residential Information</li>
				<li></li>
				<li>Alt Contact Info</li>
				<li></li>
				<li>Social Info</li>
			</ul>
			<div class="container fields">
				<h2 class="form-header">Personal Information</h2>
				<div class="fb-text form-group field-firstname">
					<input type="text" placeholder="First Name"
					       class="form-control testinput" th:field="*{aFirstName}"
					       maxlength="45" title="Must start with a letter."
					       required="required" aria-required="true"/>
				</div>
				<div class="fb-text form-group field-middlename">
					<span class="tooltip-element" tooltip="Must start with a letter."></span>
					
					<input type="text" placeholder="Middle Name" class="form-control testinput"
					       th:field="*{aMiddleName}"
					       maxlength="45" title="Must start with a letter." required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-lastname">
					<span class="tooltip-element" tooltip="Must start with a letter."></span>
					
					<input type="text" placeholder="Last Name"
					       class="form-control testinput" maxlength="45" th:field="*{aLastName}"
					       title="Must start with a letter."
					       required="required" aria-required="true"/>
				</div>
				<div class="fb-text form-group field-dob">
					<div>
						<span class="tooltip-element" tooltip="Must be a date in the past."></span>
					
					</div>
					<label for="dob">Date of Birth</label>
					<input type="date" id="dob" placeholder="Date of Birth"
					       class="form-control testinput" th:field="*{aDateOfBirth}"
					       title="Must be a date in the past."
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-ssn">
					<span class="tooltip-element" tooltip="Must be 9 digits."></span>
					
					<input type="text" placeholder="Social Security #" th:field="*{appssn}"
					       class="form-control testinput"
					       maxlength="9"
					       required="required"
					       aria-required="true"/>
				</div>
				<div class="fb-text form-group field-gender">
					<span class="tooltip-element" tooltip="Must be 9 digits."></span>
					<select th:field="*{aGender}">
						<option th:value="null">Gender Identity</option>
						<option th:value="male">Male</option>
						<option th:value="female">Female</option>
						<option th:value="decline">Decline to State</option>
						<option th:value="unk">Unsure</option>
					</select>
				</div>
				<input type="button" class="color-change next action-button" name="next" value="Next"/>
			</div>
			
			<div class="container fields">
				<h2 class="form-header">What nationality do you identify?</h2>
				<div class="fb-text field-ethnicity">
					<div class="ethcheck">
						<input class="eth" type="checkbox" id="eth1" th:field="*{aEthnicity}" value="aamrcn"/>
						<label for="eth1">African-American</label>
					</div>
					<div class="ethcheck">
						<input class="eth" type="checkbox" id="eth2" th:field="*{aEthnicity}" value="wht"/>
						<label for="eth2">White</label>
					</div>
					<div class="ethcheck">
						<label for="eth3">Hispanic/Latino</label>
						<input class="eth" type="checkbox" id="eth3" th:field="*{aEthnicity}" value="hisplat"/>
					
					
					</div>
					<div class="ethcheck">
						<label for="eth3 class=form-field">Asian-American</label>
							<input class="eth" type="checkbox" id="eth3 class=form-field" th:field="*{aEthnicity}" value="asiamrcn"/>
					</div>
					
					<div class="ethcheck">
						<label for="eth5">Native American</label>
						<input class="eth" type="checkbox" id="eth5" th:field="*{aEthnicity}" value="natamrcn"/>
					</div>
					
					<div class="ethcheck">
						<label for="eth6">Two or More (Latin/Hispanic)</label>
						<input class="eth" type="checkbox" id="eth6" th:field="*{aEthnicity}" value="twolat"/>
					</div>
					
					<div class="ethcheck">
						<label for="eth7">Two or More (Not Latin/Hispanic)</label>
						<input class="eth" type="checkbox" id="eth7" th:field="*{aEthnicity}" value="twonotlat"/>
					</div>
				
				</div>
				<input type="button" class="color-change previous action-button" name="previous" value="Previous"/>
				<input type="button" class="color-change next action-button" name="next" value="Next"/>
			</div>
			
			<div class="container fields">
				<h2 class="form-header">Physical Address</h2>
				<div class="fb-text form-group field-houseaddy">
					<span class="tooltip-element" tooltip="Just your house number and street"></span>
					
					<input type="text"
					       autocomplete="section-blue shipping street-address"
					       placeholder="Street Address"
					       class="form-control house"
					       th:field="*{bStreetAddress}"
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-city">
					<span class="tooltip-element" tooltip="Please enter your city."></span>
					
					<input type="text" placeholder="City"
					       class="form-control" th:field="*{bCity}"
					       autocomplete="address-level2"
					       maxlength="45" title="Must start with a letter."
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-state">
					<span class="tooltip-element" tooltip="State."></span>
					
					<select th:field="*{bState}">
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
						<option value="AS">American Samoa</option>
						<option value="GU">Guam</option>
						<option value="MP">Northern Mariana Islands</option>
						<option value="PR">Puerto Rico</option>
						<option value="UM">United States Minor Outlying Islands</option>
						<option value="VI">Virgin Islands</option>
						<option value="AA">Armed Forces Americas</option>
						<option value="AP">Armed Forces Pacific</option>
						<option value="AE">Armed Forces Others</option>
					</select>
					<span class="tooltip-element" tooltip="County."></span>
					
					<input type="text" placeholder="County"
					       class="form-control" th:field="*{bCounty}"
					       autocomplete="address-level2"
					       maxlength="45" title="Must start with a letter."
					       required="required" aria-required="true"
					/>
					
					<span class="tooltip-element" tooltip="Zip Code."></span>
					
					<input type="text" placeholder="Zip Code"
					       class="form-control" th:field="*{bZip}"
					       autocomplete="postal-code"
					       maxlength="5" title="5 digits only please"
					       required="required" aria-required="true"
					/>
				</div>
				<input type="button" class="color-change previous action-button" name="previous" value="Previous"/>
				<input type="button" class="color-change next action-button" name="next" value="Next"/>
			</div>
			
			<div class="container fields">
				<h2 class="form-header">Contact Information</h2>
				<div class="fb-text form-group field-contact">
					<input type="tel" placeholder="Phone Number"
					       class="form-control" th:field="*{bPhoneNumber}"
					       title="Numbers only please."
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-altphone">
					<input type="tel" placeholder="Alternate Number"
					       class="form-control" th:field="*{bAltPhoneNumber}"
					       title="Numbers only please."
					       aria-required="false"
					/>
				</div>
				<div class="fb-text form-group field-email">
					<span class="tooltip-element" tooltip="Valid email address please."></span>
					<input type="email" placeholder="Email"
					       class="form-control"
					       th:value="${email}"
					       title="Must be a valid email."
					       required="required" aria-required="true"
					/>
				</div>
				<input type="button" class="color-change previous action-button" name="previous" value="Previous"/>
				<input type="button" class="color-change next action-button" name="next" value="Next"/>
			
			</div>
			
			<div class="container fields">
				<h3 class="form-header">Emergency contact</h3>
				<div class="fb-text form-group field-emergcont">
					<input type="text" placeholder="First Name"
					       class="form-control" th:field="*{cEmerContactFirst}"
					       title="Letters only please."
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-emercont2">
					<input type="text" placeholder="Last Name"
					       class="form-control" th:field="*{cEmerContactLast}"
					       title="Letters only please."
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-emerrel">
					<input type="text" placeholder="Relationship"
					       class="form-control" th:field="*{cEmerContactRel}"
					       title="Letters only please."
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-emertel">
					<div>
					<span class="tooltip-element" tooltip="Numbers only please.">
					</span>
					</div>
					<input type="tel" placeholder="Emergency Number"
					       class="form-control" th:field="*{cEmerContactNum}"
					       title="Letters only please."
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-emeraddy">
					<div>
					<span class="tooltip-element" tooltip="Street Address.">
					</span>
					</div>
					<input type="text" placeholder="Address"
					       class="form-control" th:field="*{cEmerContactAddy}"
					       title="Letters only please."
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-emercity">
					<div>
					<span class="tooltip-element" tooltip="City.">
					</span>
					</div>
					<input type="text" placeholder="City"
					       class="form-control" th:field="*{cEmerContactCity}"
					       title="Letters only please."
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-emerstate">
					<div>
					<span class="tooltip-element" tooltip="Choose from the dropdown.">
					</span>
					</div>
					<select th:field="*{cEmerContactState}">
						<option value="null">Choose A State</option>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
						<option value="AS">American Samoa</option>
						<option value="GU">Guam</option>
						<option value="MP">Northern Mariana Islands</option>
						<option value="PR">Puerto Rico</option>
						<option value="UM">United States Minor Outlying Islands</option>
						<option value="VI">Virgin Islands</option>
						<option value="AA">Armed Forces Americas</option>
						<option value="AP">Armed Forces Pacific</option>
						<option value="AE">Armed Forces Others</option>
					</select>
				</div>
				<input type="button" class="color-change previous action-button" name="previous" value="Previous"/>
				<input type="button" class="color-change next action-button" name="next" value="Next"/>
			</div>
			
			<div class="container fields">
				<div class="fb-text form-group field-fam">
					<h3 class="form-header">You're almost done!</h3>
					<h3 class="form-header">Household Information</h3>
					<div>
						<select class="form-control" th:field="*{dMaritalStatus}">
							<option th:value="null">Marital Status</option>
							<option th:value="single">Single</option>
							<option th:value="married">Married</option>
							<option th:value="separated">Separated</option>
							<option th:value="divorced">Divorced</option>
						</select>
					</div>
				</div>
				
				<div class="fb-text form-group field-hhsize">
					<select id="houseHoldSize" th:field="*{dfamilyStatus}">
						<option th:value="null">Family Status?</option>
						<option th:value="twoparent">Two parent family</option>
						<option th:value="singleparent">Single Parent</option>
						<option th:value="other">Other Family Member</option>
						<option th:value="individual">Individual</option>
					</select>
				</div>
				
				<div class="fb-text form-group field-totalinhouse">
					<label for="totalInHouse">
						How many people live in your house?
					</label>
					<input type="text" id="totalInHouse" placeholder="# in House"
					       class="form-control"
					       th:field="*{dTotalInHouse}"
					       required="required" aria-required="true"
					/>
				</div>
				<div class="fb-text form-group field-numdep">
					<input type="text" placeholder="Age 5 or under?"
					       class="form-control" th:field="*{dDepUnderFive}"
					       title="Numbers only please"
					       required="required" aria-required="true"
					/>
					<input type="text" placeholder="Age 6 to 17?"
					       class="form-control" th:field="*{dDepOverFive}"
					       title="Numbers only please"
					       required="required" aria-required="true"
					/>
					<input type="text" placeholder="Age 18+?"
					       class="form-control" th:field="*{dDepOverEighteen}"
					       title="Numbers only please"
					       required="required" aria-required="true"
					/>
					<div class="fb-text form-group field-depinfo">
						<label>Full Name of dependent</label>
						<input type="text" id="depName" autocomplete="name"
						       placeholder="Full Name" class="form-control"
						       th:field="*{dDepFullName}"/>
						<label>Date of birth of dependent</label>
						<input type="date" id="depDoB" class="form-control"
						       th:field="*{dDepAge}"/>
						<input type="text" id="depRel" class="form-control"
						       placeholder="Relationship"
						       th:field="*{dDepRelationship}"/>
					</div>
				</div>
				<input type="button" class="color-change previous action-button" name="previous" value="Previous"/>
				<input type="button" class="color-change next action-button" name="next" value="Next"/>
			</div>
			
			<div class="container fields">
				<h3 class="form-header">Please choose what career fields interest you:</h3>
				<div class="fb-text field-career">
					<div class="careercheck">
						<p>Diagnostic Medical Sonographer</p>
						<input class="car" type="checkbox" id="career1" th:field="*{gCareerList}"
						       value="Diagnostic Medical Sonographer"/>
					</div>
					<div class="careercheck">
						<p>Dental Hygienist</p>
						<input class="car" type="checkbox" id="career2" th:field="*{gCareerList}"
						       value="Dental Hygienist"/>
					</div>
					<div class="careercheck">
						<p>Health Information Technologist</p>
						<input class="car" type="checkbox" id="career3" th:field="*{gCareerList}"
						       value="Health Information Technologist"/>
					</div>
					<div class="careercheck">
						<p>Invasive Cardiovascular Technology</p>
						<input class="car" type="checkbox" id="career4" th:field="*{gCareerList}"
						       value="Invasive Cardiovascular Technology"/>
					</div>
					<div class="careercheck">
						<p>Licensed Vocational Nurse</p>
						<input class="car" type="checkbox" id="career5" th:field="*{gCareerList}"
						       value="Licensed Vocational Nurse"/>
					</div>
					<div class="careercheck">
						<p>Laboratory Technologist</p>
						<input class="car" type="checkbox" id="career6" th:field="*{gCareerList}"
						       value="Medical Laboratory Technologist"/>
					
					</div>
					<div class="careercheck">
						<p>Physical Therapy Assistant</p>
						<input class="car" type="checkbox" id="career7" th:field="*{gCareerList}"
						       value="Physical Therapy Assistant"/>
					
					</div>
					<div class="careercheck">
						<p>Radiography Technologist</p>
						<input class="car" type="checkbox" id="career8" th:field="*{gCareerList}"
						       value="Radiography Technologist"/>
					</div>
					<div class="careercheck">
						<p>Registered Nurse</p>
						<input class="car" type="checkbox" id="career9" th:field="*{gCareerList}"
						       value="Registered Nurse"/>
					</div>
					<div class="careercheck">
						<p>Respiratory Care</p>
						<input class="car" type="checkbox" id="career10" th:field="*{gCareerList}"
						       value="Respiratory Care"/>
					</div>
					
					
					<div class="careercheck">
						<p>Surgical Technician</p>
						<input class="car" type="checkbox" id="career11" th:field="*{gCareerList}"
						       value="Surgical Technician"/>
					</div>
					
					<div class="careercheck">
						<p>Occupational Therapy Assistant</p>
						<input class="car" type="checkbox" id="career12" th:field="*{gCareerList}"
						       value="Occupational Therapy Assistant"/>
					</div>
					
					<div class="careercheck">
						<p>Auto Service Technician</p>
						<input class="car" type="checkbox" id="career13" th:field="*{gCareerList}"
						       value="Auto Service Technician"/>
					</div>
					
					<div class="careercheck">
						<p>HVAC</p>
						<input class="car" type="checkbox" id="career14" th:field="*{gCareerList}" value="HVAC"/>
					</div>
					
					<div class="careercheck">
						<p>Diesel Mechanic</p>
						<input class="car" type="checkbox" id="career15" th:field="*{gCareerList}"
						       value="Diesel Mechanic"/>
					</div>
					
					<div class="careercheck">
						<p>Electrical Trades</p>
						<input class="car" type="checkbox" id="career16" th:field="*{gCareerList}"
						       value="Electrical Trades"/>
					</div>
					
					<div class="careercheck">
						<p>Air Conditioning &amp; Heating</p>
						<input class="car" type="checkbox" id="career17" th:field="*{gCareerList}"
						       value="Air Conditioning &amp; Heating"/>
					</div>
					
					<div class="careercheck">
						<p>Machine Tool Operator</p>
						<input class="car" type="checkbox" id="career18" th:field="*{gCareerList}"
						       value="Machine Tool Operator"/>
					</div>
					
					<div class="careercheck">
						<p>Plumber</p>
						<input class="car" type="checkbox" id="career19" th:field="*{gCareerList}" value="Plumber"/>
					</div>
					
					<div class="careercheck">
						<p>Welder</p>
						<input class="car" type="checkbox" id="career20" th:field="*{gCareerList}" value="Welder"/>
					</div>
					
					<div class="careercheck">
						<p>Bookkeeping Specialist</p>
						<input class="car" type="checkbox" id="career21" th:field="*{gCareerList}"
						       value="Bookkeeping Specialist"/>
					</div>
					
					<div class="careercheck">
						<p>Logistics</p>
						<input class="car" type="checkbox" id="career22" th:field="*{gCareerList}"
						       value="Logistics"/>
					</div>
					
					<div class="careercheck">
						<p>Computer Support Specialist</p>
						<input class="car" type="checkbox" id="career23" th:field="*{gCareerList}"
						       value="Computer Support Specialist"/>
					</div>
					<div class="careercheck">
						<p>Computer Programming</p>
						<input class="car" type="checkbox" id="career24" th:field="*{gCareerList}"
						       value="Computer Programming"/>
					</div>
					
					<div class="careercheck">
						<p>Network Administrator</p>
						<input class="car" type="checkbox" id="career25" th:field="*{gCareerList}"
						       value="Network Administrator"/>
					</div>
					
					<div class="careercheck">
						<p>Information Security &amp; Assurance</p>
						<input class="car" type="checkbox" id="career26" th:field="*{gCareerList}"
						       value="Information Security &amp; Assurance"/>
					</div>
					
					<div class="careercheck">
						<p>Web &amp; Mobile Developer</p>
						<input class="car" type="checkbox" id="career27" th:field="*{gCareerList}"
						       value="Web &amp; Mobile Developer"/>
					</div>
					
					<div class="careercheck">
						<p>Cyber Security</p>
						<input class="car" type="checkbox" id="career28" th:field="*{gCareerList}"
						       value="Cyber Security"/>
					</div>
					
					<div class="careercheck">
						<p>Software Development</p>
						<input class="car" type="checkbox" id="career29" th:field="*{gCareerList}"
						       value="Software Development"/>
					</div>
					
					<div class="careercheck">
						<p>Systems Administrator</p>
						<input class="car" type="checkbox" id="career30" th:field="*{gCareerList}"
						       value="Systems Administrator"/>
					</div>
				</div>
				<input type="button" class="color-change previous action-button" name="previous" value="Previous"/>
				<input type="button" class="color-change next action-button" name="next" value="Next"/>
			</div>
			
			<div class="container fields">
				<h3>Last Section! Give yourself a high five!</h3>
				<div class="fb-text form-group last-sec field-drugTest">
					<h3 class="form-field">Are you willing to take a urinalysis test?</h3>
					<p class="eChoices">Yes
						<input class="form-control" type="radio" id="dtChoice"
						       th:field="*{eDrugTest}" value="yes"/>
					</p>
					<p class="eChoices">No
						<input class="form-control" type="radio" id="dtChoice2"
						       th:field="*{eDrugTest}" value="no"/>
					</p>
				</div>
				
				<div class="fb-text form-group last-sec field-ssa">
					<h3 class="form-field">Check all that apply</h3>
					<p class="eChoices">TANF
						<input class="form-control" type="checkbox" id="ssa" th:value="true"
						       th:field="*{eTanf}"/>
					</p>
					
					<p class="eChoices">SNAP
						<input class="form-control" type="checkbox" id="ssa2" th:value="true"
						       th:field="*{eSnap}"/>
					</p>
					
					<p class="eChoices">Subsidized Housing
						<input class="form-control" type="checkbox" id="ssa3" th:value="true"
						       th:field="*{eSsh}"/>
					</p>
					
					<p class="eChoices">SSI
						<input class="form-control" type="checkbox" id="ssa4" th:value="true"
						       th:field="*{eSsi}"/>
					</p>
					
					<p class="eChoices">SSDI
						<input class="form-control" type="checkbox" id="ssa5" th:value="true"
						       th:field="*{eSsdi}"/>
					</p>
					
					<p class="eChoices">WIC
						<input class="form-control" type="checkbox" id="ssa6" th:value="true"
						       th:field="*{eWic}"/>
					</p>
					
					<p class="eChoices">Unemployment
						<input class="form-control" type="checkbox" id="ssa7" th:value="true"
						       th:field="*{eUnemp}"/>
					</p>
				</div>
				
				<div class="fb-text form-group last-sec field-fel">
					<h3 class="form-field">Have you every been convicted of a felony or misdemeanor?</h3>
					<p class="eChoices">
						Yes
						<input class="form-control" type="radio" id="felChoice"
						       th:field="*{eFelConvict}" value="yes"/>
					</p>
					
					<p class="eChoices">
						No
						<input class="form-control" type="radio" id="felChoice2"
						       th:field="*{eFelConvict}" value="no" selected="selected"/>
					</p>
				</div>
				
				<div class="fb-text form-group last-sec field-disa">
					<h3 class="form-field">Do you have a disability?</h3>
					
					<p class="eChoices">Yes
						<input class="form-control" type="radio" id="disaChoice" th:field="*{eDisability}" value="yes"/>
					</p>
					
					<p class="eChoices">No
						<input class="form-control" type="radio" id="disaChoice2" th:field="*{eDisability}"
						       value="no" selected="selected"/>
					</p>
				
				</div>
				
				<div class="fb-text form-group last-sec field-milSrv">
					<h3 class="form-field">Are you registered with the selective service?</h3>
					<p class="eChoices">Yes
						<input class="form-control" type="radio" th:field="*{eSelectiveSrv}" th:value="yes"/>
					</p>
					<p class="eChoices">No
						<input class="form-control" type="radio" th:field="*{eSelectiveSrv}" th:value="no"/>
					</p>
					
					
					<h3 class="form-field">Have you served in the military</h3>
					<p class="eChoices">
						Yes <input class="form-control" type="radio" th:field="*{eMilitarySrv}" th:value="yes"/>
					</p>
					<p class="eChoices">
						No <input class="form-control" type="radio" th:field="*{eMilitarySrv}" th:value="no"/>
					</p>
					
					<h3 class="form-field">Are you a military spouse/dependent?</h3>
					<p class="eChoices">
						Yes<input class="form-control" type="radio" id="msChoice"
						          th:field="*{eMilSpouse}" value="yes"/>
					</p>
					<p class="eChoices">
						No<input class="form-control" type="radio" id="msChoice2"
						         th:field="*{eMilSpouse}" value="no"/>
					</p>
					
					<h3 class="form-field">If you were referred, please tell us how.</h3>
					<input class="form-control" placeholder="Referral" type="text" th:field="*{eReferralSrc}"/>
				</div>
				
				<div class="form-control field-eHS">
					<h3>Education</h3>
					<p>High School Diploma
						<input type="radio" id="hs" class="form-control" th:field="*{eHS}" value="Highschool Diploma"/>
					</p>
					<p>GED
						<input type="radio" id="GED" class="form-control" th:field="*{eHS}" value="GED"/>
					</p>
					<p>No Diploma
						<input type="radio" id="DnG" class="form-control" th:field="*{eHS}"
						       selected="selected" value="Did not graduate"/>
					</p>
				</div>
				
				<p>THANK YOU! You did it! Hit Submit and we will get back to you ASAP!</p>
				<input type="button" class="color-change previous action-button" name="previous" value="Previous"/>
				<input type="Submit" class="color-change next action-button" name="Submit" value="Submit"/>
			</div>
		</form>
	</div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<script>
    $('document').ready(function () {
        var current_fs, next_fs, previous_fs; //fieldss
        var left, opacity, scale; //fields properties which we will animate
        var animating = false; //flag to prevent quick multi-click glitches

        function pageTransition(that) {
            if (animating) return false;
            animating = true;

            current_fs = $(that).parent();
            next_fs = $(that).parent().next();


            $('#progressbar li').eq($('.fields').index(next_fs)).addClass('active');

            //show the next fields
            next_fs.show();
            //hide the current fields with style
            current_fs.animate({opacity: 0}, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + '%';
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'relative'
                    });
                    next_fs.css({'left': left, 'opacity': opacity});
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        };

        $('.next').click(function () {
            if (!validate()) {
                console.log('is not valid');
                return;
            } else {
                console.log('is valid');
            }

            console.log('next');
            pageTransition(this);
        });

        $('.next1').click(function () {
            if (!validate1()) {
                console.log('is not valid');
                return;
            } else {
                console.log('is valid');
            }

            console.log('next');
            pageTransition(this);
        });

        $('.next2').click(function () {
            if (!validate2()) {
                console.log('is not valid');
                return;
            } else {
                console.log('is valid');
            }

            console.log('next');
            pageTransition(this);
        });

        $('.next3').click(function () {
            if (!validate3()) {
                console.log('is not valid');
                return;
            } else {
                console.log('is valid');
            }

            console.log('next');
            pageTransition(this);
        });

        $('.next4').click(function () {
            if (!validate4()) {
                console.log('is not valid');
                return;
            } else {
                console.log('is valid');
            }

            console.log('next');
            pageTransition(this);
        });

        $('.next5').click(function () {
            if (!validate5()) {
                console.log('is not valid');
                return;
            } else {
                console.log('is valid');
            }

            console.log('next');
            pageTransition(this);
        });

        $('.next6').click(function () {
            event.preventDefault();
            if (!validate6()) {
                console.log('is not valid');
                return;
            } else {
                console.log('is valid');
            }

            console.log('next');
            pageTransition(this);
        });
        $(".previous").click(function () {
            if (animating) return false;
            animating = true;
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();
            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({'left': left});
                    previous_fs.css({'transform': 'scale(' + scale + ')', 'opacity': opacity});
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });
        $(".submit").click(function () {
            return false;
        });
    });
</script>
</body>
</html>