<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<head th:replace="fragments/head :: head('Our Dev-Team')">
</head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<main id="panel" class="panel slideout-panel slideout-panel-left">
	<button class="btn-hamburger toggle-button">☰</button>
	<div class="banner-img">
		<img class="banner-img" th:src="@{/images/quest.png}" alt="Quest Logo"/>
	</div>
	<div class="border-outer">
		<div class="border-inner">
		</div>
	</div>

	<div class="container">
		<h1 id="meetdevheader">Meet the Developers</h1>
	</div>
	<div class="dev-container">
		<div class="allie container">
			<img class="headshots" th:src="@{/images/allieheadshot.jpg}" alt=""/>
			<h2 class="names">Alyxandria Scott</h2>
			<blockquote>"descriptions">"What would life be if we had no courage to attempt anything?" -Vincent Van
				Gogh</blockquote>
			<div class="contactInfo">
				<p>Email: alyxandriascott.sa@gmail.com</p>
				<a href="https://github.com/alyxanhscott" target="_blank">
					<img th:src="@{/images/002-github-logo.svg}" alt=""/>
				</a>
				<a href="https://www.linkedin.com/in/alyxandria-scott/" target="_blank">
					<img th:src="@{/images/001-linkedin-logo-button.svg}" alt=""/>
				</a>
			</div>
		</div>
		<div class="thomas container">
			<img class="headshots" th:src="@{/images/thomasmccool3.jpg}" alt=""/>
			<h2 class="names">Thomas Mccool</h2>
			<blockquote>"descriptions">"Go confidently in the direction of your dreams. Live the life you have
			imagined.”
				-Henry David Thoreau</blockquote>
			<div class="contactInfo">
				<p>Email: tjmccool1@gmail.com</p>
				<a href="https://github.com/tjmccool1" target="_blank">
					<img th:src="@{/images/002-github-logo.svg}" alt=""/>
				</a>
				<a href="https://www.linkedin.com/in/thomasmccool/" target="_blank">
					<img th:src="@{/images/001-linkedin-logo-button.svg}" alt=""/>
				</a>
			</div>
		</div>
		<div class="chris container">
			<img class="headshots" th:src="@{/images/chrisheadshot.jpeg}" alt=""/>
			<h2 class="names">Chris Kelley</h2>
			<blockquote>"descriptions">“Knowing Is Not Enough; We Must Apply. Wishing Is Not Enough; We Must Do.” – Johann Wolfgang Von Goethe</blockquote>
			<div class="contactInfo">
				<p>Email: kelleyc718@gmail.com</p>
				<a href="https://github.com/Kelleyc718" target="_blank">
					<img th:src="@{/images/002-github-logo.svg}" alt=""/>
				</a>
				<a href="https://www.linkedin.com/in/chrisdkelley/" target="_blank">
					<img th:src="@{/images/001-linkedin-logo-button.svg}" alt=""/>
				</a>
			</div>
		</div>
	</div>

</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>