<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head('PQ Home')">
</head>
<body>
<div class="homepage-hero-module">
	<div class="video-container">
		<nav th:replace="fragments/user-nav :: user-nav"></nav>
		<div class="filter">
			<video preload="" muted="" autoplay="" loop="" class="fillWidth">
				<source th:src="@{/video/MP4/Urban-Timer.mp4}" type="video/mp4"/>
				Your browser does not support the video tag. I suggest you upgrade your browser.
				<source th:src="@{/video/WEBM/Urban-Timer.webm}" type="video/webm"/>
				Your browser does not support the video tag. I suggest you upgrade your browser.
			</video>
		</div>
		<div class="poster hidden">
			<img th:src="@{/video/Snapshots/Urban-Timer.jpg}" alt=""/>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>