<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Login')"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<main id="panel" class="panel slideout-panel slideout-panel-left">
	<button class="btn-hamburger toggle-button">☰</button>
	<div class="banner-img">
		<img class="banner-img" th:src="@{/images/quest.png}" alt="Quest Logo"/>
	</div>
	<div class="border-outer">
		<div class="border-inner">
		</div>
	</div>
	<div class="flex">
		<form id="msform" th:action="@{/login}" th:method="post">
			<fieldset>
				<h3>Login or register today to begin your Quest!</h3>
				<div class="alert" th:if="${param.logout}">
					You have been logged out.
				</div>
				<div class="error" th:if="${param.error}">
					Invalid Username and Password.
				</div>
				<div class="fb-text form-group field-username">
					<input type="text" class="form-control" id="username" name="username" autocomplete="username"
					       placeholder="Username"/>
				</div>
				<div class="fb-text form-group field-password">
					<input type="password" class="form-control" id="password" name="password"
					       autocomplete="current-password"
					       placeholder="Password"/>
				</div>
				<input class="color-change" type="submit" value="Login"/>
				<a th:href="@{/register}">
					<input class="color-change" type="button" value="Register"/>
				</a>
			</fieldset>
		</form>
	</div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>