<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head('Register')">
</head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<main id="panel" class="panel slideout-panel slideout-panel-left">
	<button class="btn-hamburger toggle-button">☰</button>
	<div class="banner-img">
		<img class="banner-img" th:src="@{/images/quest.png}" alt="Quest Logo"/>
	</div>
	<div class="border-outer">
		<div class="border-inner">
		</div>
	</div>
	<div class="flex">
		<form id="msform" th:action="@{/register}" th:method="POST" th:object="${user}">
			<div class="container fields">
				<h3 class="title">Take the first step to being a better you. Register or Login to begin.</h3>
				<div class="fb-text form-group field-username">
					<input type="text" placeholder="Username"
					       class="form-control" th:field="*{username}"
					       maxlength="45" title="Must start with a letter."
					       required="required" aria-required="true"/>
						<p class="error" th:each="err : ${#fields.hasErrors()}" th:text="${error}"></p>
				</div>
				<div class="fb-text form-group field-email">
					<input type="text" autocomplete="email" placeholder="Email"
					       class="form-control" th:field="*{email}"
					       maxlength="45" title="Must start with a letter."
					       required="required" aria-required="true"/>
					<p class="error" th:each="err : ${#fields.hasErrors()}" th:text="${error2}"></p>
				</div>
				<div class="fb-text form-group field-password">
					<span class="tooltip-element" tooltip="Please include at least 1 uppercase character,
				       1 lowercase character, and 1 number."></span>
					<input type="password" placeholder="Password" class="form-control"
					       autocomplete="new-password"
					       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
					       minlength="8" title="Please include at least 1 uppercase character,
				       1 lowercase character, and 1 number." th:field="*{password}"
					       required="required" aria-required="true"/>
				</div>
				<div class="fb-text form-group field-confirmpass">
					<input type="password" placeholder="Confirm Password"
					       autocomplete="new-password" class="form-control"
					       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
					       minlength="8" title="Please include at least 1 uppercase character,
				       1 lowercase character, and 1 number."
					       required="required" aria-required="true"/>
				</div>				
				<input type="submit" class="color-change" name="Submit" value="Register"/>
			</div>
		</form>
	</div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>